body {
    padding-top: 30px; /* hero-unit margin bottom */
}

/** Add some space below inner titles **/
main h2 {
    margin-bottom: 12px;
}



.nav-list {
    padding-top: 18px;
}

.nav-header h1 {
    font-size: 13px;
    line-height: 18px;
}
.nav-header h1 a {
    color: #999;
}
.nav-header h1 a:hover {
    color: #08c;
}

@media (max-width: 767px) {

    /** Reduce nav-list **/
    .nav-list {
        padding-left: 0;
        padding-right: 0;
    }
    .nav-list li {
        display: inline;
    }
    .nav-list li a {
        display: inline-block;
        margin-left: 0;
        margin-right: 0;
        padding-left: 8px;
        padding-right: 8px;
    }
    .nav-list .nav-header {
        display: block;
    }
    .nav-list .nav-header a {
    }

    /** Narrow table cells **/
    .table th,
    .table td {
        padding: 4px;
    }
}